@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
}
body {
    background: url(./images/image1.jpg) no-repeat center center/cover;
    height:100vh;
    position: relative;
    justify-content: center;
}
h1{
    font-family: 'Alkalami', serif;
    color: rgba(82, 160, 9);
    text-align: center;
    font-size: 4em;
    margin-top: 4%;
    text-shadow: 0 2px greenyellow;
}


#open-btn {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25rem;
    height: 8rem;
    background: rgba(82, 160, 9, 0.5);
    border: solid 3px rgb(76, 104, 10);
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0 0 4px greenyellow;
    transition: .5s;
}
#open-btn:hover{
    background: rgba(82, 160, 9);
}
#btn-close{
    background: rgba(82, 160, 9, 0.5);
        border: solid 3px rgb(76, 104, 10);
        border-radius: 8px;
        padding: 8px;
        box-shadow: 0 0 4px greenyellow;
        margin: 10px auto;
        color: white;
        font-size: 16px;
        font-weight: 600;
        
}
#btn-close:hover {
    color: tomato;
    background: rgba(82, 160, 9);

}

p{
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: white;
    padding: 5px;
}
h4{
    font-family: 'Alkalami', serif;
    font-size: 42px;
    color: tomato;
    padding: 10px;
}

#modal-container {
    position: absolute;
    text-align: center;
    top: 35%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 30rem;
    height: 25rem;
    background: rgba(219, 70, 32, 0.9);
    border: solid 3px rgb(76, 104, 10);
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0 0 4px greenyellow;
    
    z-index: 1;
    display: none;
}


input,
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#close-x {
    text-align: end;
    padding: 0;
}
#close-x:hover {
    color: tomato;
}

@media (max-width: 767px) {
    #open-btn {
        width: 200px;
        height: 70px;
    }

    h1 {
        font-size: 34px;
    }

    p {
        font-size: 16px;
        padding: 2px;
        
    }
    h4 {
        font-size: 24px;
        padding: 2px;
    }
    #modal-container{
        width: 19rem;
        height: 22rem;
    }
}